.page-content {
  &.page-login {
    height: calc(100vh - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.wrap-admin-detail {
  td:first-child,
  td:nth-child(3) {
    font-weight: bold;
  }
}
