.page-content {
  &.page-dashboard {
    height: 100vh;
    padding: 20px;
  }
}

.wrap-upload-button {
  margin-top: 12px;
  display: flex;
  > * {
    margin-right: 12px;
  }
}

.wrap-table-customize {
  .ant-modal-footer {
    margin-top: 24px;
  }
  label {
    display: block;
    &:first-child {
      margin-top: 0;
    }
  }
}
